<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj Lekarza</title>
</head>
<body>
    <h1>Dodaj Lekarza</h1>
    <form action="/add" method="POST">
        <label for="imie">Imię:</label>
        <input type="text" name="imie" required><br>
        <label for="lataDoswiadczenia">Lata doświadczenia:</label>
        <input type="number" name="lataDoswiadczenia" required><br>
        <button type="submit">Dodaj</button>
    </form>
    <a href="/">Powrót do menu głównego</a>
</body>
</html>
